[run]
# Coverage配置文件

# 包含的路径
source = .

# 排除的路径
omit =
    tests/*
    venv/*
    __pycache__/*
    */site-packages/*
    .pytest_cache/*
    setup.py
    */test_*.py
    alpha/alphas.py
    alpha/datas.py

# 分支覆盖率目标
branch = True

# 行覆盖率目标
[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
